nav[data-v-e50b2bed] {
  background-image: var(--day-bg);
}
.logo[data-v-e50b2bed] {
  width: 256px;
}
.icono[data-v-e50b2bed] {
  width: 32px;
  height: 32px;
}
@media (max-width: 400px) {
  .logo[data-v-e50b2bed] {
    width: 150px;
  }
  .icono[data-v-e50b2bed] {
    width: 24px;
    height: 24px;
  }
}
body[data-v-c388597b] {
  padding: 0;
  margin: 0;
}
