.container[data-v-35901256] {
  padding: 3em;
  border-radius: 8px;
  margin: 2% auto;
}
.night-case[data-v-35901256] {
  background-image: var(--night-bg);
  box-shadow: var(--night-shadow);
}
.day-case[data-v-35901256] {
  background: white;
  box-shadow: var(--day-shadow);
}
